{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <section class="home_page_info">
        <h1>Welcome to Sears Products Viewer</h1>
        <div class="messages" id="messages_id">
            {% if messages %}
            <div class="hide_button" onclick="hide_message_block()"><i class="fas fa-times-circle"></i></div>
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><i class="fas fa-info-circle"></i>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>        
        <p>
            Discover the latest trends, compare products, and find exactly what you need. The intuitive interface allows you
            to seamlessly navigate through various features to make the most out of your visit.
        </p>
        <ul>
            {% if user.is_superuser %}
                <li>
                    In the <a href="{% url 'add_products' %}" class="section">"Add Products"</a> section, simply input the product IDs you want to explore, and watch as our platform fetches
                    the relevant details for you. 
                </li>
            {% endif %}
            <li>
                The <a href="{% url 'show_products' %}" class="section">"Products"</a> page serves as your dashboard, displaying an overview of all the
                products you've added.
            </li>
            <li>
               Click on the <span class="section">"Details" link</span> for any product to access comprehensive information, including specifications, pricing,
               and more detail information about product. Dive into the world of Sears products with confidence, knowing that you have all the details
               at your fingertips.
            </li>
            {% if user.is_authenticated %}
                <li>
                    The <strong><a class="section" href="{% url 'cart_page' %}">"Cart" page</a></strong> displays the products that you added to the cart on the page: <strong><a class="section" href="{% url 'show_products' %}">"My Products"</a></strong>
                </li>
            {% endif %}
        </ul>
        <p>
            Whether you're a seasoned shopper or just starting, Sears Products Viewer is designed to enhance your experience
            and simplify the decision-making process!
        </p>
        <div class="head_img">
            <img src="{% static 'main/img/004.jpg' %}" alt="">
        </div>
        <p>
            <strong><a href="https://www.sears.com/">Sears</a> Products Viewer</strong> is your gateway to a vast selection of Sears products, providing you with detailed insights
            and information about the items you're interested in. Explore the functionality of our platform to make your shopping
            experience more informed and enjoyable.
        </p>
        <p>
            Sears, Roebuck and Co. commonly known as Sears, is an American chain of department stores founded in 1892 by
            Richard Warren Sears and Alvah Curtis Roebuck and reincorporated in 1906 by Richard Sears and Julius Rosenwald,
            with what began as a mail ordering catalog company migrating to opening retail locations in 1925, the first in Chicago.
        </p>
        <p class="end_block">
            <a href="https://en.wikipedia.org/wiki/Sears">Get more information in Wikipedia...</a>
        </p>
    </section>
{% endblock %}



